@media (min-width:320px){
body{
    background-color:rgb(236, 232, 232);
}
/*header*/
.header{
    height:120px;
    background-color:rgb(233, 225, 225);
}
.conteiner{
    max-width: 960px;
    background-color:#dfe228;
    height:113.75px;
    font-size:20px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo{
    width:150px;
}
.namesait{
    font-size: 18px;
    color: green;
}
/*nav*/
nav{
    max-width: 960px;
}
.link_nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(5, 75, 121);
    text-decoration:none;
}
ul{
    list-style-type: none;
}
/*ssilki*/
.ssilki{
    max-width:960px;
}
/*form*/
.form{
    max-width:960px;
}
 a{
    color:#FFA500;
}
/*footer*/
.footer{
    background-color: yellowgreen;
    width: 100%;
    height:25px;
}
.link_footer{
    width:350px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*table*/
.table{
    max-width: 960px;
    border-collapse: collapse;
    border: 1px solid grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
th {border: 1px solid grey;}
td {border: 1px solid grey;}
.conteiner2 {
    max-width: 960px;
}
.ch{
    background-color: silver;
}
.n{
    background-color: seagreen
}
/*sup*/
.supconteiner{
    max-width: 960px;
}
}
